<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.accounting_for_vacancies/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.accounting_for_vacancies.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Structural_unit.browse"
              caption="msg://com.company.accounting_for_vacancies.screen.structural_unit/structural_unitBrowse.menu"/>
        <item screen="Vacancies.browse"
              caption="msg://com.company.accounting_for_vacancies.screen.vacancies/vacanciesBrowse.menu"/>
    </menu>

</menu-config>